@font-face {
  font-family: Roboto;
  src: url("fonts/roboto.woff") format("woff") url("fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/robotobold.woff") format("woff") url("fonts/robotobold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --basic-light: #EEEEEE;
  --basic-neutral: #888888;
  --basic-red: #FB565A;
  --basic-red-extra: #E74246;
  --basic-red-dark: #D7373B;
  --basic-green: #00CA74;
  --basic-green-extra: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-extra: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-light-neutral: #DFDFDF;
  --basic-neutral-dark: #D5D5D5;
  --basic-dark: #4D4D4D;
  --basic-dark-extra: #231F20;
  --basic-black-extra: #283136;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --extra-gray: #D7DCDE;
  --basic-gray: #E1E1E1;
  --basic-gray-text: #666666;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-header-logo {
  margin-top: 49px;
  width: 160px;
  height: 65px;
}

.main-navigation {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--basic-light);
}



.site-navigation-item {
  margin-right: 45px;
}

.user-navigation {
  min-width: 150px;
  margin: 0;
  margin-top: 75px;
  padding: 0;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.slider {
  background-color: var(--basic-light);
  margin-bottom: 80px;
  display: flex;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.services {
  padding: 0;
  margin-bottom: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.services-item {
  width: 300px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  width: 620px;
  margin: 0;
  margin-bottom: auto;
  margin-left: 202px;
  margin-top: 75px;
  padding: 0;
}

.site-navigation-link,
.basket-link {
  color: inherit;
}

.link {
  text-decoration: none;
}

.header-container {
  background-color:var(--basic-light);
}

.site-navigation-link:hover,
.basket-link:hover {
  color: var(--basic-red);
}

.site-navigation-link:focus,
.basket-link:focus {
  color: var(--basic-black);
  text-decoration: underline;
}

.site-navigation-link:active,
.basket-link:active {
  opacity: 0.3;
  text-decoration: none;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.information-button,
.button {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.information-button:active,
.button:active {
  color: rgba(255, 255, 255, 0.3);
}


.information-button,
.button {
  background-color: var(--basic-red);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button:hover,
.information-button:hover {
  background-color: var(--basic-red-extra);
}

.button-green:hover {
  background-color: var(--basic-green-extra);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-extra);
}

.button:active,
.information-button:active {
  background-color: var(--basic-red-dark);
}


.button-green:active {
  background-color: var(--basic-green-dark);
}

.button-yellow:active {
  background-color: var(--basic-yellow-dark);
}

.services-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.features {
  margin-bottom: 73px;
  display: flex;
  justify-content: space-between;
}

.features-content {
  width: 650px;
}

.features-table {
  width: 360px;
}

.features-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-offer {
  font-weight: bold;
  text-transform: uppercase;
}


.features-table .table-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.features-table .table-title-cell {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-table .table-cell-content {
  line-height: 18px;
}

.clients {
  height: 185px;
  border-top: 2px solid var(--basic-light);
  border-bottom: 2px solid var(--basic-light);
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.clients-list {
  display: flex;
  align-items: center;
}

.client-item {
  margin-right: 80px;
}

.client-item:first-child {
  margin-left: 32px;
}

.clients .client-logo {
  opacity: 0.2;
}

.clients .client-logo:hover {
  opacity: 1;
}

.clients .client-logo:active {
  opacity: 0.1;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.map {
  width: 100%;
}


.contacts-adress {
  font: inherit;
}

.contacts-adress .contacts-content {
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  color: inherit;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 290px;
}

.footer-offer {
  width: 660px;
}

.social-list {
  display: flex;
}

.social-list-item {
  margin-right: 9px;
  background-color: var(--basic-gray);
}

.social-list-item:hover {
  background-color: var(--basic-red-extra);
}

.footer-offer .offer-content {
  font-size: 16px;
  line-height: 22px;
}

.footer-offer .offer-content {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.modal-feedback {
  display: grid;
  grid-template-rows: auto 1fr;
}

.feedback-form {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content min-content;
  column-gap: 40px;
}

.modal-comment {
  grid-column: 1 / -1;
}

.modal-feedback .feedback-title {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}


.modal-feedback .modal-input-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-input {
  font-size: 16px;
  line-height: 18px;
  border-color: 10px solid var(--extra-gray);
}

.modal-input:hover {
  border-color: #B4B9BB;
}

.modal-input:focus {
  border-color: var(--basic-black);
}

.feedback-form .input-email:invalid {
  border-color: var(--basic-red-extra);
  color: var(--basic-red-extra);
}


.catalog-page .container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
}

.catalog-page-header {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  background-color: var(--basic-light);
}

.catalog {
  margin-left: 140px;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 32px;
  margin-bottom: 55px;
}

.catalog-title {
  padding-top: 78px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter-form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.sorting {
  margin-left: 140px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  grid-column: 2 / -1;
  grid-row: 1 / 1;
}

.sorting-list {
  display: flex;
}

.sorting-button {
  align-items: center;
}

.filters {
  width: 260px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.filter {
  color: var(--basic-black-extra);
}

.filter-group-title,
.sorting-name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

 .price-content {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.grid,
.properties  {
  font-size: 16px;
  line-height: 20px;
}


.sorting-list .sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list .sorting-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list .sorting-link:active,
.sorting-list .sorting-link:focus {
  color: var(--basic-black);
}

.button-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-light);
}

.button-filter:hover {
  background-color: var(--basic-light-neutral);
}

.button-filter:active {
  background-color: var(--basic-neutral-dark);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list .catalog-item-link {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-list .catalog-item-link:hover {
  color: var(--basic-red);
}

.catalog-list .catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-content {
  color: var(--basic-gray-text);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-button {
  color:var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-red);
}

.catalog-item-button:hover {
  background-color: var(--basic-red-extra);
}

.catalog-item-button:active {
  background-color: var(--basic-red-dark);
}

.breadcrumbs {
  margin-bottom: 60px;
  display: flex;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs .breadcrumbs-link {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.breadcrumbs .breadcrumbs-link:focus {
  background-color: var(--basic-white);
}

.breadcrumbs .breadcrumbs-link:hover {
  background-color: var(--basic-light-neutral);
}

.breadcrumbs .breadcrumbs-link:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: var(--basic-neutral-dark);
}
