@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff) format(woff) url(fonts/roboto.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/robotobold.woff) format(woff) url(fonts/robotobold.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}

:root {
  --basic-light: #EEEEEE;
  --basic-neutral: #888888;
  --basic-red: #FB565A;
  --basic-red-extra: #E74246;
  --basic-red-dark: #D7373B;
  --basic-green: #00CA74;
  --basic-green-extra: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-extra: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-light-neutral: #DFDFDF;
  --basic-neutral-dark: #D5D5D5;
  --basic-dark: #4D4D4D;
  --basic-dark-extra: #231F20;
  --basic-black-extra: #283136;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --border-color: #D7DCDE;
  --basic-gray: #E1E1E1;
  --basic-gray-text: #666666;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


.main-navigation {
  font-size: 16px;
  line-height: 30px;
}


.site-navigation {
  list-style: none;
}

.site-navigation a,
.basket-link {
  color: inherit;
}

.page-body a {
  text-decoration: none;
}

.header-container {
  background-color:var(--basic-light);
}

.site-navigation a:hover,
.basket-link:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.basket-link:focus {
  color: var(--basic-black);
  text-decoration: underline;
}

.site-navigation a:active,
.basket-link:active {
  opacity: 0.3;
  text-decoration: none;
}

.slide-content {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.information-button,
.button {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.information-button:active,
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.services-list {
  list-style: none;
}

.service-button-1,
.information-button,
.button {
  background-color: var(--basic-red);
}

.service-button-2 {
  background-color: var(--basic-green);
}

.service-button-3 {
  background-color: var(--basic-yellow);
}

.service-button-1:hover,
.information-button:hover {
  background-color: var(--basic-red-extra);
}

.service-button-2:hover {
  background-color: var(--basic-green-extra);
}

.service-button-3:hover {
  background-color: var(--basic-yellow-extra);
}

.service-button-1:active,
.information-button:active {
  background-color: var(--basic-red-dark);
}

.service-button-2:active {
  background-color: var(--basic-green-dark);
}

.service-button-3:active {
  background-color: var(--basic-yellow-dark);
}

.services-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-offer {
  font-weight: bold;
  text-transform: uppercase;
}

.features-list {
  list-style: none;
}

.features-table caption {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.features-table th {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-table td {
  line-height: 18px;
}

.clients {
  border-top: 2px solid var(--basic-light);
  border-bottom: 2px solid var(--basic-light);
}

.clients img {
  opacity: 0.2;
}

.clients img:hover {
  opacity: 1;
}

.clients img:active {
  opacity: 0.1;
}

.clients-list {
  list-style: none;
}

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-adress {
  font: inherit;
}

.contacts-adress p {
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  color: inherit;
}

.footer-social ul {
  list-style: none;
}

.social-list-item {
  background-color: var(--basic-gray);
}

.social-list-item:hover {
  background-color: var(--basic-red-extra);
}

.footer-offer p {
  font-size: 16px;
  line-height: 22px;
}

.footer-offer .offer-content {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.modal-feedback h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

.modal-feedback label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 18px;
  border-color: 10px solid var(--border-color);
}

.feedback-form input:hover {
  border-color: #B4B9BB;
}

.feedback-form input:focus {
  border-color: var(--basic-black);
}

.feedback-form input:invalid {
  border-color: var(--basic-red-extra);
  color: var(--basic-red-extra);
}

.catalog-container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.catalog-container fieldset {
  border: none;
}

.filter {
  color: var(--basic-black-extra);
}

.catalog-container legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

 .filter-price p {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.grid p {
  font-size: 16px;
  line-height: 20px;
}

.properties p {
  font-size: 16px;
  line-height: 20px;
}

.sorting-list {
  list-style: none;
}

.sorting p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active,
.sorting-list a:focus {
  color: var(--basic-black);
}

.button-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-light);
}

.button-filter:hover {
  background-color: var(--basic-light-neutral);
}

.button-filter:active {
  background-color: var(--basic-neutral-dark);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  list-style: none;
}

.catalog-list a {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-list a:hover {
  color: var(--basic-red);
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
  color: var(--basic-gray-text);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.catalog-list-button {
  color:var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-red);
}

.catalog-list-button:hover {
  background-color: var(--basic-red-extra);
}

.catalog-list-button:active {
  background-color: var(--basic-red-dark);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.breadcrumbs a:focus {
  background-color: var(--basic-white);
}

.breadcrumbs a:hover {
  background-color: var(--basic-light-neutral);
}

.breadcrumbs a:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: var(--basic-neutral-dark);
}
