/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
  --basic-light: #EEEEEE;
  --basic-neutral: #888888;
  --basic-red: #FB565A;
  --basic-red-extra: #E74246;
  --basic-red-dark: #D7373B;
  --basic-green: #00CA74;
  --basic-green-extra: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-extra: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-light-neutral: #DFDFDF;
  --basic-neutral-dark: #D5D5D5;
  --basic-dark: #4D4D4D;
  --basic-dark-extra: #231F20;
  --basic-black-extra: #283136;
  --basic-black: #000000;
  --basic-black-active: rgba(0, 0, 0, 0.3);
  --basic-white: #FFFFFF;
  --extra-gray: #D7DCDE;
  --basic-gray: #E1E1E1;
  --basic-gray-text: #666666;
  --basic-gray-dark: #C1C1C1;
  --basic-gray-extra: #ababab;
  --extra-gray: #B4B9BB;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 142px;
}

.main-navigation {
  width: 100%;
  min-height: 65px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-light);
}

.site-navigation-item {
  position: relative;
  margin-right: 45px;
}

.user-navigation.active::after,
.site-navigation-item.active::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.main-navigation .container {
  display: flex;
  padding-top: 49px;
  justify-content: space-between;
}

.slider {
  margin: 0;
  padding: 0;
  background-color: var(--basic-light);
  margin-bottom: 80px;
}

.slider .container {
  position: relative;
  padding-top: 79px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position:  407px 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.services {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--basic-light);
}

.services-content {
  width: 250px;
  margin-bottom: 30px;
}

.services-item:nth-child(2) .services-content {
  width: 230px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.services-item {
  width: 300px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  padding-top: 26px;
}

.user-navigation {
  position: relative;
  padding-top: 26px;
  padding-bottom: 9px;
  max-width: 160px;
}

.basket-link {
  padding-left: 45px;
}

.site-navigation-link,
.basket-link {
  position: relative;
  color: inherit;
  display: block;
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 4px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.header-container {
  background-color:var(--basic-light);
}

.site-navigation-link:hover,
.basket-link:hover {
  color: var(--basic-red);
}

.site-navigation-link:focus,
.basket-link:focus {
  color: var(--basic-black);
}

.site-navigation-link:active,
.basket-link:active {
  color: var(--basic-black-active);
}

.slider-1 {
  background-image: url("../img/slide-1.png");
}

.slider-2 {
  background-image: url("../img/slide-2.png");
}

.slider-3 {
  background-image: url("../img/slide-3.png");
}

.slide-title {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 600px;
}

.slide-content {
  font: inherit;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}

.slider-controls {
  display: flex;
  align-items: center;
  position: absolute;
  left: 546px;
  bottom: 95px;
}

.slider-button {
  position: relative;
  margin-right: 17px;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
}

.slider-button.active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 4px solid var(--basic-gray-dark);
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button {
  display: inline-block;
  vertical-align: middle;
  padding-left: 39px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
  border-radius: 3px;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.information-button {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 54px;

}

.feedback-button {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 44px;
  padding-right: 44px;
}

.button-submit {
  width: 260px;
  border: none;
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button:hover,
.information-button:hover {
  background-color: var(--basic-red-extra);
}

.button-green:hover {
  background-color: var(--basic-green-extra);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-extra);
}

.button:active,
.information-button:active {
  background-color: var(--basic-red-dark);
}


.button-green:active {
  background-color: var(--basic-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow:active {
  background-color: var(--basic-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-name {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.features {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  display: flex;
  justify-content: space-between;
}

.features-block {
  width: 650px;
}

.features-table {
  width: 360px;
}

.features-title {
  margin-bottom: 31px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-offer {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.features-content {
  margin-bottom: 40px;
}

.features-list {
  padding-left: 35px;
}

.features-item {
  position: relative;
  margin-bottom: 25px;
}

.features-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -35px;
  top: 50%;
}

.features-table {
  padding-top: 12px;
}


.features-illustration {
  margin-bottom: 29px;
}

.features-table-content {
  border-spacing: 0 5px;
}

.features-table .table-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;
}

.features-table .table-title-cell {
  margin: 0;
  padding: 0;
  padding-right: 21px;
  text-align: left;
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.table-title-percent {
  font-size: 26px;
  line-height: 40px;
}

.features-table .table-cell-content {
  line-height: 18px;
  padding: 0;
  padding-top: 5px;
}

.clients {
  padding: 45px 30px;
  border-top: 2px solid var(--basic-light);
  border-bottom: 2px solid var(--basic-light);
  margin-bottom: 78px;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.client-item {
  position: relative;
  margin-right: 100px;
}

.client-item:nth-child(3) {
  margin-right: 120px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-item::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-light);
  right: -50px;
  bottom: 50%;
  transform: translateY(50%);
}

.client-item:nth-child(2)::after {
  right: -44px;
}

.client-item:nth-child(3)::after {
  right: -60px;
}

.client-item:last-child:after {
  display: none;
}

.clients .client-logo {
  opacity: 0.2;
}

.clients .client-logo:hover {
  opacity: 1;
}

.clients .client-logo:active {
  opacity: 0.1;
}

.contacts-name {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.map {
  width: 100%;
}


.contacts-adress {
  position: absolute;
  top: 54px;
  font: inherit;
  background-color: var(--basic-white);
  padding-top: 30px;
  padding-bottom: 37px;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts-adress .contacts-content {
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 35px;
}

.phone-link {
  color: inherit;
  text-decoration: none;
}

.main-footer {
  position: relative;
}



.social-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 55px 0;
}

.footer-social {
  width: 290px;
  margin-right: 110px;
}

.footer-offer {
  padding: 0;
  width: 660px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.social-list-item {
  margin-right: 9px;
  margin-bottom: 9px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
  width: 81px;
  border-radius: 50%;
  background-color: var(--extra-gray);
}

.social-list-link:hover {
  background-color: var(--basic-red-extra);
}

.social-list-link:active {
  background-color: var(--basic-red-dark);
}

.social-list-link:active path {
  opacity: 0.3;
}

.footer-offer {
  margin-top: 11px;
}

.footer-offer .offer {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-offer .offer-content {
  margin: 0;
  padding: 0;
}

.modal-feedback {
  position: fixed;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 100px 81px 100px;
  width: 760px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: opacity 0.2s;
          animation: opacity 0.2s;
}

.modal-feedback .feedback-title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}


.modal-feedback .modal-input-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-name,
.modal-email {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.modal-email {
  margin-right: 0;
}

.modal-comment {
  width: 760px;
  margin-bottom: 47px;
}

.modal-input {
  width: 360px;
  margin: 0;
  margin-top: 9px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 14px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid var(--extra-gray);
  border-radius: 3px;
}

.input-comment {
  width: 760px;
  padding-top: 16px;
  padding-bottom: 84px;
  padding-left: 16px;
  padding-right: 414px;
}

.modal-close {
  position: absolute;
  content: "";
  top: 75px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-input:hover {
  border-color: var(--extra-gray);
}


.feedback-form .input-email:invalid,
.feedback-form .input-email:invalid:focus{
  border-color: var(--basic-red-extra);
  color: var(--basic-red-extra)
}


.catalog-page .container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
}

.catalog-page-header {
  padding-top: 40px;
  padding-bottom: 75px;
  margin-bottom: 55px;
  background-color: var(--basic-light);
}

.catalog {
  margin-left: 140px;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 42px;
       column-gap: 42px;
  row-gap: 32px;
  margin-bottom: 18px;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter-option {
  padding-left: 35px;
}

.filter-option-select {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 17px;
}

.filter-input-radio + .filter-option-select::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio:checked + .filter-option-select::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.filter-input-radio:hover + .filter-option-select::before,
.filter-input-radio:focus + .filter-option-select::before {
  opacity: 1;
}

.filter-input-checkbox + .filter-option-select::before {
  content: "";
  position: absolute;
  top: 0;
  left: -33px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + .filter-option-select::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + .filter-option-select::before,
.filter-input-checkbox:focus + .filter-option-select::before {
  opacity: 1;
}

.filter-input:disabled ~ .filter-option-select,
.filter-input:disabled ~ .filter-option-select::before  {
  opacity: 0.3;
}

.filter-form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.sorting {
  margin-left: 140px;
  margin-bottom: 88px;
  display: flex;
  align-items: center;
  grid-column: 2 / -1;
  grid-row: 1 / 1;
}

.sorting-list {
  display: flex;
  align-items: center;
}

.sorting-button {
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
}

.sorting-button:nth-child(3) {
  margin-right: 49px;
}

.sorting-button-up,
.sorting-button-down {
  padding-bottom: 3px;
}

.sorting-button-down {
  margin-right: 18px;
}

.sorting-button-up {
  transform: rotate(180deg);
}

.sorting-link path {
  opacity: 0.2;
}

.sorting-link:hover path {
  opacity: 0.6;
}

.sorting-link:active path,
.sorting-link:focus path {
  opacity: 1;
}

.sorting-list .sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list .sorting-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list .sorting-link:active,
.sorting-list .sorting-link:focus {
  color: var(--basic-black);
}

.filters {
  width: 210px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.filter {
  color: var(--basic-black-extra);
}

.filter-range {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.range-controls {
  position: relative;
  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  border-radius: 5px;
  background-color: var(--basic-light);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-extra);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--extra-gray);
}

.range-controls .progress-bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price,
.max-price {
  font: inherit;
  text-transform: uppercase;
  font-size: 16px;
}

.filter-group-title,
.sorting-name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-group-title {
  margin: auto 0;
}

.sorting-name {
  margin-right: 266px;
}

 .price-content {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.grid,
.properties  {
  font-size: 16px;
  line-height: 20px;
}

.grid {
  margin-bottom: 35px;
}

.properties {
  margin-bottom: 42px;
}

.button-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-light);
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 17px 88px 15px 88px;
}

.button-filter:hover {
  background-color: var(--basic-light-neutral);
}

.button-filter:active {
  background-color: var(--basic-neutral-dark);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-item {
  position: relative;
  margin-bottom: 31px;
}

.catalog-item-image {
  width: 360px;
  height: 578px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-item::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: -40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-information {
  position: absolute;
  content: "";
  bottom: 0;
  background-color: var(--basic-light);
  margin: auto;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 30px;
  padding-bottom: 49px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  -webkit-filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.catalog-item:hover .catalog-item-information {
  display: block;
}

.catalog-list .catalog-item-link {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-list .catalog-item-link:hover {
  color: var(--basic-red);
}

.catalog-list .catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-content {
  margin-bottom: 32px;
  color: var(--basic-gray-text);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-button {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 17px 72px;
  background-color: var(--basic-red);
  border: none;
}

.catalog-item-button:hover {
  background-color: var(--basic-red-extra);
}

.catalog-item-button:active {
  background-color: var(--basic-red-dark);
}

.breadcrumbs {
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.breadcrumbs-item {
  margin-right: 11px;
  margin-bottom: 5px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs .breadcrumbs-link {
  color: var(--basic-black);
  background-color: var(--basic-light);
  padding: 17px 20px 15px 20px;
  border-radius: 3px;
}

.breadcrumbs-current .breadcrumbs-link {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-light);
  padding: 14px 17px 13px 17px;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  padding: 17px 77px 15px 77px;
}

.breadcrumbs .breadcrumbs-link:focus {
  background-color: var(--basic-white);
}

.breadcrumbs .breadcrumbs-link:hover {
  background-color: var(--basic-light-neutral);
}

.breadcrumbs .breadcrumbs-link:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: var(--basic-neutral-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.breadcrumbs-current:hover .breadcrumbs-link {
  background-color: transparent;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
